/* 
    Document   : style
    Created on : 16 déc. 2013, 21:30:43
    Author     : MCarnaud
    Description:
        Purpose of the stylesheet follows.
*/
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

root { 
    display: block;
}

.form-start
{
    margin-top: 12%;
    margin-left: 20%;
    margin-right: 20%;
}
.titre-start
{
    text-align: center;
}

.cache
{
    margin-right: 5%; 
}

.menu-gauche
{
    height: 50px;
    margin-top: 10%;
    width: 200px;
    margin-left: 1%;
}

.bande-gauche
{
    position: absolute;
    background-color: gainsboro;
    width: 205px;
    height: 95%;
}

.titreSection{
    text-align:center;
}

html {
    height: 100%;
}

.nouveau
{
    margin-top:2%;
    margin-left:205px;
}

.milieuPage{
    align:center;
    margin-left:20%;
    margin-right:20%;
}

.ie2
{
    margin-left: 30%;
}

.ie1
{
    margin-left: 2%;
}

.recherche
{
    margin-left: 18%;
    margin-right: 4%;
    margin-top: 2%; 
}

#logout{
    float:right;
    margin-top:8px;
    margin-right:24px;
}

.navbar-default{
    height:5%;
}

.tableListe{
    margin-left:205px;
    width:calc(100% - 205px);
    width:88%\9; /*Pour IE 7,8,9*/
}

.tableListe td:hover{
    cursor: pointer;
}

.table tbody tr:hover th {
    background-color: transparent;
}
/*
@media screen and (min-width: 200px) and (max-width: 680px) {
    .bande-gauche{
        width:100%;
        height:50px;
    }
}*/